.contact {
  @include sectionLayout(40px 25px, var(--background-two));

  &_heading {
    @include headingLayout(42px, center, 50px, var(--main-text-color));
  }

  &_email {
    @include flexSettings(row, center, center);
    @include sectionLayout(15px, var(--secondary-background-one));
    max-width: 400px;
    margin: auto auto 30px auto;
    border-radius: 8px;
    word-break: break-all;
    color: var(--primary-accent);
    img {
      @include imageSize(30px, 30px, contain);
      margin-right: 15px;
    }
  }

  &_form {
    @include flexSettings(column, center, center);
    flex-wrap: wrap;
    max-width: 500px;
    margin: auto;
    padding: 0 20px;

    &_formcontrol {
      @include flexSettings(column, center, center);
      margin-top: 25px;
      width: 100%;

      &_label {
        margin-bottom: 5px;
        font-size: 18px;
        align-self: flex-start;
        color: var(--text-color-two);
      }

      &_input {
        @include sectionLayout(12px, var(--secondary-background-one));
        @include borderWithRadius(1px solid var(--primary-accent), 8px);
        width: 100%;
        font-size: 16px;
        outline: none;
        margin-bottom: 5px;
        color: var(--main-text-color);
      }

      &_error {
        font-size: 14px;
        font-weight: 500;
        color: #e11d48;
        align-self: flex-start;
      }

      &_submit {
        @include sectionLayout(10px 30px, var(--primary-accent));
        @include borderWithRadius(none, 10px);
        text-align: center;
        outline: none;
        color: var(--secondary-accent);
        font-size: 18px;
        cursor: pointer;
        max-width: 120px;
      }

      &_submit:hover {
        background-color: var(--secondary-accent);
        color: var(--primary-accent);
      }
    }
  }

  &_submission {
    @include flexSettings(column, center, center);
    color: var(--main-text-color);
    flex-wrap: wrap;
    max-width: 500px;
    margin: 150px auto 100px auto;
    padding: 0 20px;
    text-align: center;

    &_head {
      font-size: 22px;
    }

    &_text {
      font-size: 18px;
    }
  }
}
